[mysqld]
user = mysql
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid
log-error = /var/lib/mysql/error.log

skip-networking = 0
skip-bind-address = 0

innodb_buffer_pool_size = 256M
max_connections = 100
query_cache_size = 16M
query_cache_type = 1

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
